.note-button-on {
    color: white;
    right: 10px;
    position: fixed;
    background-color: red;
    padding: 0.7em;
    font-size: 1.5em;
    text-align: center;
    border-radius: 1.5em;
    width: 3em;
    height: 3em;
    overflow: hidden;
    opacity: 0.7;
    top: 50%;
    z-index: 9990;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
    transition: 0.3s;
}
.note-button-on-expanded {
    color: white;
    right: 10px;
    position: fixed;
    background-color: red;
    padding: 0.7em;
    height: 6em;
    font-size: 1.5em;
    text-align: center;
    border-radius: 1.5em;
    width: 3em;
    opacity: 0.7;
    top: 50%;
    z-index: 9990;
}

.note-button-on:hover {
    height: 6em;
}

a.note-button, a.note-button:visited, .note-button {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.note-pop-on {
    color: white;
    position: fixed;
    background-color: red;
    padding: 0.7em;
    font-size: 1.2em;
    text-align: center;
    border-radius: 1.5em;
    opacity: 0.8;
    left: 40%;
    width: 20%;
    top: 50%;
    z-index: 9990;
    cursor: wait;
}

.note-display-block{
    display: none;
    position: fixed;
    background: none;
    background-color: rgba(255, 200, 200, 0.1);
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    cursor: not-allowed;
}

.note-display-block-wait{
    display: none;
    position: fixed;
    background: none;
    background-color: rgba(38, 38, 38, 0.5);
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    cursor: not-allowed;
    text-align: center;
}

.crop-tool {
    background: rgba(255, 200, 150, 0.5);
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 9992;
    cursor: grab;
}

.crop-tool .resizers{
    width: 100%;
    height: 100%;
    border: 4px solid rgba(226, 23, 27, 0.8);
    box-sizing: border-box;
}

.instructions{
    text-align: center;
}

.crop-tool .resizers .resizer{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 4px solid rgba(226, 23, 27, 0.8);
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
}

.crop-tool .resizers .resizer.top-left {
    left: -5px;
    top: -5px;
    cursor: nwse-resize;
}
.crop-tool .resizers .resizer.top-right {
    right: -5px;
    top: -5px;
    cursor: nesw-resize;
}
.crop-tool .resizers .resizer.bottom-left {
    left: -5px;
    bottom: -5px;
    cursor: nesw-resize;
}
.crop-tool .resizers .resizer.bottom-right {
    right: -5px;
    bottom: -5px;
    cursor: nwse-resize;
}

.btn-crop {
    opacity: 0.9;
    position: absolute;
    text-align: center;
    padding: 0.3em;
    bottom: 20px;
    width: 70px;
    z-index: 993;
    border: 4px solid #e2231b;
    cursor: pointer;
}

.btn-crop.s001 {
    color: #e2231b;
    background-color: white;
    right: 100px;
}
.btn-crop.s002 {
    background-color: #e2231b;
    color: white;
    right: 20px;
}

.img-thumb-note
{
    max-height: 50px;
    min-height: 50px;
    cursor: pointer;
    border: 1px solid #cccccc;
}

.img-full-size-note
{
    max-height: 1000px;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.note-container
{
    padding: 1em;
}

.note-container div
{
    display: flex;
}

.note-info-block
{
    left: 0px;
    padding: 0.5em;
    border: 1px solid #cccccc;
    flex-wrap: wrap;
    display: flex;
}

.note-info-block div {
    flex: 1;
}

#noteimagepreview {
    border: 1px solid #cccccc;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

p.fix-ds-lead {
    position: relative;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

p.fix-ds-lead::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('/theme/latrobe/icons/latrobe-chevron-RGB.svg');
    background-repeat: no-repeat;
    margin-bottom: 0.5rem;
}
