<div class="note-display-block" id="note_display_over_block">
    <div class="crop-tool">
        <div class="resizers">
            <div class="instructions">{{# str }} instructions, block_notes {{/ str }}<br><a href="/blocks/notes/manage_notes.php?blockinstanceid=103">Notes page</a></div>
            <div class="resizer top-left"></div>
            <div class="resizer top-right"></div>
            <div class="resizer bottom-left"></div>
            <div class="resizer bottom-right"></div>
            <div class="btn-crop s001" onclick="require(['block_notes/notes'], function (M) { M.makeScreenshot('.crop-tool');});">{{# str }} crop, block_notes {{/ str }}</div>
            <div class="btn-crop s002" onclick="require(['block_notes/notes'], function (M) { M.cancel();});">{{# str }} cancel, block_notes {{/ str }}</div>
        </div>
    </div>
</div>
<div class="note-button-on" id="make_note_button" onclick="require(['block_notes/notes'], function (M) { M.showCropTool(); M.activateCropTool('.crop-tool')});">
    <span class="flex-icon ft-fw ft tfont-var-files_copy" title="{{# str }} buttontip, block_notes {{/ str }}"></span>
</div>
